//reseteo de estilos de navegador
*{
    margin:0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}

@font-face{
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face{
  font-family: 'Roboto';
  src: url('./fonts/Roboto-VariableFont_wdth\,wght.ttf');
}

// Variables de mi proyecto
$color00: white;
$color01: rgb(60, 60, 60);
$color02: rgb(204, 74, 74);
$color03: rgb(214, 214, 214);

$tablet:900px;
$desktop: 1400px;

$fuenteTitulo: 'Roboto';
$fuenteTexto: 'Montserrat';

h1{
  color: $color00;
  font-family: $fuenteTitulo;
  font-size: clamp(1rem, 3vw, 3rem);
}
h2{
  font-family: $fuenteTitulo;
}
.boton{
  background-color: $color02;
  padding: 0.75rem 3rem;
  border-radius: 5px;
  color: $color00;
  text-decoration: none;
}
p, a, span{
  font-family: $fuenteTexto;
}