@use './resources/config' as c;

body{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  ::-webkit-scrollbar{
    display:none;
  }
}
nav{
  background-color: c.$color01;
  width:100%;
  min-height: 10dvh;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  position: relative;

  :nth-child(1){
    width: 50px;
    height: 50px;
    object-fit: contain;
    position:absolute;
    left:1rem;
    top:50%;
    transform: translateY(-50%);
  }
}
header{
  width: 100%;
  height: 90dvh;
  overflow-y: scroll;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  .caja{
    width: 100%;
    height: 30dvh;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border:1px solid c.$color03;
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1rem;

    @media only screen and (min-width:c.$tablet) {
      width:45%;
      height: initial;      
    }
    @media only screen and (min-width:c.$desktop) {
      width:18%;
      height: initial;       
    }
    &:hover{
      .boton{
        opacity: 1;  
        transform: scale(1);
        transition: 1.5s;
      }
      p{
        opacity: 1;  
        transition: 1s;
      }
      h2{
        color: c.$color00;
        transform: translateY(0) scale(1);
        transition: 1s;
      }
      img{
        transform: scale(1.1);
        filter: brightness(0.3) blur(5px);
        transition: .5s;
      }
    }

    h2{
      color: c.$color01;
      transform: translateY(1rem) scale(1.5);
      transition: 1s;
    }
    p{
      color: c.$color00;
      opacity: 0;
      transition: 1s;
      max-height: 100px;
      overflow-y: scroll;
    }
    img{
      position: absolute;
      inset:0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: -1;
      filter: brightness(1);
    }
    .boton{
      margin-top: auto;
      opacity:0;
      transform: scale(.9);
      transition: .5s;
      box-shadow:none;
      &:hover{
        box-shadow: 2px 2px 4px rgba(0,0,0,.8);
      }
    }

  }
}